footer {
  padding: 30px;
  background: $gray;
  text-align: center;
  text-align: center;
  span {
    text-transform: capitalize;
  }
  a {
    display: inline-block;
    color: $red;
    &::first-letter {
      text-transform: uppercase;
    }
    &:hover {
      color: $red; 
      text-decoration: underline;
    }
  }
}