@import url('https://fonts.googleapis.com/css?family=Lato|Libre+Baskerville|Lobster&display=swap');

$libre: 'Libre Baskerville', 'Arial', 'Sans-serif';

$lato: 'Lato', 'Arial', 'Sans-serif';

$lobster: 'Lobster', 'Arial', 'Sans-serif';
